.numberOfProjectsDiv {
    height: 3.5rem;
    width: 100%;
    background: #26262E;
    border-bottom: 3px solid #8D8D8E;
    /*  opacity: 0.35; for line */
}

.homeBackground {
    background: #26262E;
    padding: 1.5rem;
}

.projectCardDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1.5rem;
    overflow: hidden;
}