*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.navBar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  display: flex;
  align-items: center;
  background: #34353f;
  height: 3.5rem;
  width: 100%;
  /* box-shadow: 3px 3px 2px rgba(20, 21, 23, 0.35); */
}

.skilldarLogo {
  height: 2rem;
  margin-left: 1rem;
}

img {
  max-height: 100%;
}