.footer {
    text-align: center;
    font-family: Roboto;
    color: #8D8D8E;
    width: 100%;
    height: 60px;
    /* background: #26262E; */
    position: fixed;
    left: 0;
    bottom: 0;
    background: red;
}

ul {
    list-style-type: none;
}

.leftFooterDiv {
    display: flex;
}

.rightFooterDiv {
    display: flex;
}

.flexDiv {
    display: flex;
    justify-content: space-between;

}
